body{
    margin: 0px;
    padding: 0px;
}


table {
    width: 450px;
    border-collapse: collapse;
    text-align: left;
    background-color: #dfebf8;
}

td {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    vertical-align: top;
    /* line-height: 1.2; */
}

.container {
    display: block;
    content: center;
    margin: 0 auto;
    padding: 10px;
    padding-right: 40px;
    height: 580px;
    width: 450px;
    border: 1px solid black;
    background-color: #c0d7ef;
}

input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    background-color: #a2c3e7;
    cursor: pointer;
    border: 1px solid black;
    height: 1rem;
    width: 8rem;
}

input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 100%;
    background-color: #c0d7ef;
    width: 15px;
    height: 15px;
    border: 1px solid #c0d7ef;
    cursor: pointer;

}

input[type="radio"]:checked{
    background-color: white;
    border: 4px solid #c0d7ef;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none; 
    appearance: none;
    height: 1rem;
    width: 0.5rem;
    background-color: #c0d7ef;
    border: 0.5px solid #659cd7;
    margin: 0px;
}

button{
    margin: 10px; 
    width: 250px;
    height: 20px; 
    background-color: #d8e3f0;
    border-top-color: rgb(205, 235, 255);
    border-right-color: rgb(205, 235, 255);
    border-bottom-color: rgb(169, 194, 211);
    border-left-color: rgb(169, 194, 211);
    /* box-shadow: 1px -1px 2px rgb(185, 185, 185) inset; */
}

.button-container{
    background-color: white;
    border-radius: 3px; 
    flex: 1/4; 
    display: flex;
    justify-content: center;
    text-justify: center;
    width: 150px;
    height: 40px;
}
